@import "tailwindcss";
@import "@nuxt/ui";

.multi-line-ellipsis {
  display: -webkit-box; /* Creates a flexbox-like box */
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
